<section *ngIf="food">
  <!-- description -->
  <section>
    <h2>You selected: {{food.name}}</h2>
    <h3>Description</h3>
    <p>
      {{food.name}} Prize , Type: {{food.foodType}} tall.
    </p>
  </section>

  <!-- form -->
  <section>
    <form (ngSubmit)="savePersonDetails()" #personForm="ngForm">
      <div>
        <label for="name">Name: </label>
        <input type="text" name="name" [(ngModel)]="food.name" required #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="error">
            Name is required my good sir/lady!
        </div>
      </div>
      <div>
        <label for="weight">Prize: </label>
        <input type="number" name="prize" [(ngModel)]="food.prize" min=0 max=35000 #weight="ngModel">
        <div *ngIf="weight.errors && (weight.dirty || weight.touched)"
            class="error">
            <p [hidden]="!weight.errors.min">
              Weight must be bigger than a feather's. {{weight.value}} is way too low.
            </p>
            <p [hidden]="!weight.errors.max">
              Weight can't be bigger than a Rancor's. {{weight.value}} is too high
            </p>
        </div>
      </div>
      <div>
        <label for="foodtype">Food type:</label>
        <select name="foodtype" [(ngModel)]="food.foodType">
          <option *ngFor="let foodType of foodTypes" [value]="foodType">{{foodType}}</option>
        </select>
      </div>


      <button type="submit" [disabled]="!personForm.form.valid">Save</button>
    </form>
  </section>

  <button (click)="gotoPeoplesList()">Back to peoples list</button>
<section>
